<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{> favicon }}

  <link rel="stylesheet" type="text/css" href="{{asset "lib/css/application.css"}}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Raleway:300" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5198624-4', 'auto');
    ga('send', 'pageview');

  </script>

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{{body}}}

  {{> "footer"}}
  {{> "reveal-search"}}

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script type="text/javascript" src="{{asset "lib/js/prism.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/index.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/foundation.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/foundation.reveal.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/initialize.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/post-next-prev.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/three.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/SimplexNoise.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/threex.terrain.js"}}"></script>
  <script type="text/javascript" src="{{asset "lib/js/header.js"}}"></script>

</body>
</html>
