{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
    <a class="back-button" href="{{@blog.url}}">
      <i class="fa fa-fw fa-angle-left"></i>
      Accueil
    </a>
  </nav>
</header>

<main class="content row" role="main" itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="medium-8 medium-push-2 columns">
    <article class="{{post_class}}">

      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{title}}</h1>
        <section class="post-meta">
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD/MM/YYYY"}}</time>
          {{tags prefix=" | "}}
        </section>
      </header>

      <section class="post-content" itemprop="articleBody">
        {{content}}
      </section>

      <nav class="post-navigation">
        <span id="curr-post-uuid" class="hide">{{uuid}}</span>
        <a class="prev-post">
          <i class="fa fa-fw fa-angle-left"></i>
          Article précédent
        </a>
        <a class="next-post">
          Article suivant
          <i class="fa fa-fw fa-angle-right"></i>
        </a>
      </nav>


      <div class="post-comments">
        <hr>
        <h4>Vous souhaitez réagir ?</h4>

        <div id="disqus_thread">
          <form onsubmit="my.loadDisqus();return false;">
            <button type="submit" class="button">
              Afficher les commentaires
              <i class="fa fa-fw fa-angle-down"></i>
            </button>
          </form>
        </div>
        <script>
          var disqus_shortname = "techsiliconsalad";
          var disqus_url = "{{@blog.url}}";
          var disqus_identifier = '{{post.id}}';
          var my = my || {};
          my.loadDisqus = function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          };
        </script>
      </div>




      <footer class="post-footer">
        <section>
          <h4 class="l-title">S’abonner</h4>
          <p>Vous avez appris quelque chose de nouveau en lisant cet article ? N’hésitez pas à <a href="{{@blog.url}}/rss/">vous abonner au flux rss</a> pour recevoir les nouvelles publications.</p>
        </section>
      </footer>

    </article>
  </div>

  {{#author}}
  <div class="row">
    <div class="medium-8 medium-push-2 columns">
      <hr>
      {{#if image}}
      <figure class="author-image">
        <a class="img" href="{{url}}">
          <img src="{{image}}" alt="Photo du développeur {{name}}">
          <figcation class="hidden">Photo de {{name}}</figcation>
        </a>
      </figure>
      {{/if}}

      <section class="author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
        <h4>
          <a href="{{url}}" itemprop="name">{{name}}</a>
        </h4>
{{!--         {{#if location}}
        <i class="fa fa-fw fa-briefcase"></i>
        {{location}}
        {{/if}} --}}
        <p>{{bio}}</p>
      </section>
    </div>
  </div>
  {{/author}}

</main>

{{/post}}
